@model MemberModel
@{
    ViewData["Title"] = "Notlarım - Üye Ol";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <img src="~/upload/img/logo.png" />
                <h2 class="card-title text-end mb-4">Üye Ol</h2>
                @if (ViewBag.Error != null)
                {
                    <h5 class="text-danger">@ViewBag.Error</h5>
                }
                <form asp-controller="Login" asp-action="MemberAddFromRestApi" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="İsim"
                               required data-validation-required-message="Lütfen İsim Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="SurName"></label>
                        <input asp-for="SurName" type="text" class="form-control" placeholder="Soyisim"
                               required data-validation-required-message="Lütfen Soyisim Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email address</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email"
                               required data-validation-required-message="Lütfen Email Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre"
                               required data-validation-required-message="Lütfen Şifre Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="University"></label>
                        <input asp-for="University" type="text" class="form-control" placeholder="Üniversite"
                               required data-validation-required-message="Lütfen Üniversite İsim Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <input asp-for="Department" type="text" class="form-control" placeholder="Bölüm"
                               required data-validation-required-message="Lütfen Bölüm İsim Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Telefon"
                               required data-validation-required-message="Lütfen Telefon Numarası Giriniz">
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" class="form-control" required>
                            <option value="" disabled selected>Cinsiyet Seçiniz</option>
                            <option value="Kadın">Kadın</option>
                            <option value="Erkek">Erkek</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Üye Ol</button>
                </form>
            </div>
        </div>
    </div>
</div>

