@{
    ViewData["Title"] = "Notlarım - Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jum-img mt-5">
    <div class="container p-5">
        <h1 class="display-4 jum-h1">Ders Notlarım</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <h1>Merhaba ve Hoş Geldiniz!</h1>
        <p>Üniversite Ders Notları Paylaşım Sitemize hoş geldiniz. Amacımız, üniversite öğrencilerine derslerinde başarıya ulaşmalarına yardımcı olmak ve öğrenme süreçlerini kolaylaştırmaktır. Bu platform, öğrencilerin ders notlarını paylaşmalarını ve kapsamlı bir öğrenme kaynağı oluşturmalarını sağlamak için tasarlanmıştır.</p>

        <h2>Vizyonumuz</h2>
        <p>Vizyonumuz, eğitimin ve bilginin özgürce paylaşıldığı bir dünya yaratmaktır. Üniversite eğitimi, bir bireyin kariyeri ve hayatındaki başarı için temel taşlardan biridir. Bu nedenle, üniversite öğrencilerine en iyi eğitim ve öğrenme deneyimini sunmak, topluluk üyelerimizin karşılıklı olarak birbirinden öğrenmesini sağlamak ve bilgi paylaşımını teşvik etmek temel hedeflerimiz arasındadır.</p>

        <h2>Misyonumuz</h2>
        <p>Misyonumuz, öğrencilerin ders notlarını paylaşarak ve farklı ders materyallerini bir araya getirerek daha iyi bir öğrenme deneyimi yaşamalarına yardımcı olmaktır. Üniversite derslerinde başarılı olmak için sadece ders kitapları ve ders içerikleri yeterli olmayabilir. Pratik notlara, örnek ödevlere ve öğrenci yorumlarına erişim, öğrencilerin dersleri daha iyi anlamalarına ve öğrenme süreçlerini geliştirmelerine yardımcı olur.</p>

        <h2>Ne Sunuyoruz</h2>
        <ul>
            <li><strong>Ders Notları Paylaşımı:</strong> Sitemizde, farklı üniversitelerden öğrenciler tarafından paylaşılan ders notlarını bulabilirsiniz. Bu notlar, farklı derslerdeki konuları ve kavramları anlamak için değerli bir kaynaktır.</li>
            <li><strong>Örnek Ödevler ve Sorular:</strong> Sık sık derslerde ödevler ve sorularla karşılaşırız ve bazen bunları çözmekte zorlanabiliriz. Sitemizde, öğrencilerin önceden çözdüğü örnek ödevler ve soruları bulabilir ve kendi çalışmalarınıza yardımcı olacak ipuçları edinebilirsiniz.</li>
            <li><strong>Forum ve Topluluk Desteği:</strong> Topluluk üyelerimiz için bir forum sağlıyoruz. Bu platformda, dersler, öğrenme teknikleri ve genel üniversite yaşamı hakkında deneyimlerinizi ve sorularınızı paylaşabilir, diğer üyelerle etkileşimde bulunabilirsiniz.</li>
        </ul>

        <h2>Topluluğumuza Katılın</h2>
        <p>Sitemiz, üniversite öğrencileri ve eğitim tutkunları için güçlü bir topluluk oluşturmayı hedeflemektedir. Siz de ders notlarınızı paylaşabilir, öğrenme sürecinizde edindiğiniz değerli bilgileri diğer öğrencilerle paylaşabilirsiniz. Böylece, daha geniş bir öğrenme ağına katkıda bulunabilir ve birbirimizden öğrenmenin gücünü deneyimleyebiliriz.</p>

        <p>Teşekkür ederiz, çünkü topluluğumuzun bir parçası olarak, birlikte daha iyi bir öğrenme deneyimi oluşturuyoruz.</p>

        <p>Eğitim dolu günler dileriz!</p>

        <p><em>Üniversite Ders Notları Paylaşım Sitesi Ekibi</em></p>
    </div>
</div>
